In [1]:
a = []

for numara in range(10):
    a.append(numara)
    
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
b = [numara for numara in range(10)]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
c = [numara for numara in range(10) if numara%2 == 0]
c

[0, 2, 4, 6, 8]

In [4]:
d = [numara for numara in range(10) if numara%2 != 0]
d

[1, 3, 5, 7, 9]

In [6]:
e = [numara**2 for numara in range(10)]
e

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
f = [numara if numara%2 == 0 else numara**2 for numara in range(10)]
f

[0, 1, 2, 9, 4, 25, 6, 49, 8, 81]

In [16]:
for i in range(10):
    for j in range(4):
        print(f"{i}*{j} = {i*j}")

0*0 = 0
0*1 = 0
0*2 = 0
0*3 = 0
1*0 = 0
1*1 = 1
1*2 = 2
1*3 = 3
2*0 = 0
2*1 = 2
2*2 = 4
2*3 = 6
3*0 = 0
3*1 = 3
3*2 = 6
3*3 = 9
4*0 = 0
4*1 = 4
4*2 = 8
4*3 = 12
5*0 = 0
5*1 = 5
5*2 = 10
5*3 = 15
6*0 = 0
6*1 = 6
6*2 = 12
6*3 = 18
7*0 = 0
7*1 = 7
7*2 = 14
7*3 = 21
8*0 = 0
8*1 = 8
8*2 = 16
8*3 = 24
9*0 = 0
9*1 = 9
9*2 = 18
9*3 = 27

In [15]:
g = [i*j for i in range(10) for j in range(4)]
g

[0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 0,
 2,
 4,
 6,
 0,
 3,
 6,
 9,
 0,
 4,
 8,
 12,
 0,
 5,
 10,
 15,
 0,
 6,
 12,
 18,
 0,
 7,
 14,
 21,
 0,
 8,
 16,
 24,
 0,
 9,
 18,
 27]

In [17]:
a = ["Ali", "Ayse", "Ahmet"]
b = [10, 20, 30]

c = {isim: yas for isim, yas in zip(a, b)}
c

{'Ali': 10, 'Ayse': 20, 'Ahmet': 30}

In [18]:
d = {}
for isim, yas in zip(a, b):
    d[isim] = yas
d

{'Ali': 10, 'Ayse': 20, 'Ahmet': 30}